{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



   {{ include('includes/navbar.html.twig')}}
<main class="container">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

<div class="form-group ">
        {{ form_row(registrationForm.email) }}
</div>
<div class="form-group">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
</div>   

<div class="form-group"> 
        {{ form_row(registrationForm.agreeTerms) }}
</div> 
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}


</main>


   {{ include('includes/footer.html.twig')}}
{% endblock %}
