{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
   {{ include('includes/navbar.html.twig')}}
<main class="container">
    <h1>Order index</h1>

    <table class="table table-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Unity_price</th>
                <th>Total_price</th>
                <th>Quantity</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.unityPrice }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_order_new') }}">Create new</a>
</main>

    {{ include('includes/footer.html.twig')}}
{% endblock %}
